body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #155799, #159957);
    text-align: center;
    padding: 50px;
    color: #fff;
}
.card{
    background: rgba(255, 245, 250, 01);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: 30px;
    max-width: 450px;
    margin: auto;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width: 400px;
}
.card h1{
    color: #155799;
    font-size: 28px;
    margin-top: 15px;
}
.message{
    color: #2b2a2a;
    font-size: 25px;
    margin-top: 20px;
}
button{
    background: #e47685;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    transition: background 0.3s ease;
}
button:hover{
    background: #ee8a50;
}
.payment-section {
    background: rgba(255, 245, 250, 1);
    margin-top: 30px;
}
.payment-section img {
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
}